<html>
	<head th:replace="fragments/fragment :: headerFragment(pageTitle='SIDUK DKI Jakarta')">    
    </head>
	<body>
		<div th:replace = "fragments/fragment :: header" ></div>
		<div class="container">
			<h2>Sistem Informasi Kependudukan Online Provinsi DKI Jakarta</h2>
			<h4>Selamat datang di Sistem Informasi Online Provinsi DKI Jakarta</h4><hr/>
			<form action="/penduduk" method="get">
				<h3>Lihat Data Penduduk Berdasarkan NIK</h3>
				<div class="row">
					<div class="form-group col-xs-5 col-lg-4">
						<label for="nik">Masukkan Nomor Induk Kependudukan</label><br/>
						<input type="text" class="form-control" id="nik" name="nik" required="required"/>
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Lihat</button>
				</div>
			</form><hr/>
			<form action="/keluarga" method="get">
				<h3>Lihat Data Keluarga Berdasarkan NKK</h3>
				<div class="row">
					<div class="form-group col-xs-5 col-lg-4">
						<label for="nkk">Masukkan Nomor Kartu Keluarga</label><br/>
						<input type="text" class="form-control" id="nkk" name="nkk" required="required"/>
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Lihat</button>
				</div>
			</form>
		</div>
		<div th:replace = "fragments/fragment :: footer" ></div>
	</body>
</html>